.containerStatistics {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 2rem;
  background-color: #fafafa;
  border-radius: 0.5rem;
  padding: 1rem;
}
.boxState {
  display: flex;
  gap: 3rem;
}
.totalPageView {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #c6c6c6;
}
.totalPageView .titleTotalPageView {
  font-size: 14px;
  font-weight: bold;
  color: #9e9e9e;
}
.totalPageView .numberTotalPageView {
  font-size: 28px;
  font-weight: bold;
  color: #3b3b3b;
}
.leftBoxState {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 4;
}
.rightBoxState {
  display: flex;
  flex-direction: column;
  flex: 3.5;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
.topAgencyView,
.topFacultyView,
.graphBoxState {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #c6c6c6;
}

@media screen and (min-width: 1440px) {
  .containerStatistics {
    flex-direction: row;
    height: 500px;
  }
}
