@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.input-container {
    display: block;
    width: 100%;
}
  
.input-label {
    display: block;
    color: #555;
    font-size: 16px;
}
  
.input-field {
    width: 100%;
    border-radius: 0.5rem;
    border: solid #d9d9d9;
    padding: 12px;
    font-family: "Prompt", sans-serif;
}
.input-field:focus {
    box-shadow: 0 0 4px #c8c8c8;
    outline: none;
}
  