.input-container {
    display: block;
    margin-bottom: 16px;
}
  
.input-label {
    display: block;
    margin-bottom: 4px;
    color: #555;
    font-size: 16px;
}
  
.input-field {
    width: 100%;
    padding: 8px;
}
  