@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: "Prompt", sans-serif;
}
.appContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: linear-gradient(to top right, #ef852fe4, #7735004c),
    url("../../assets/background-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.boxLogin {
  display: flex;
  justify-content: center;
  height: 700px;
}
.boxLogin .login {
  border-radius: 0.5rem;
  width: 400px;
  height: 600px;
  align-self: center;
  background-color: white;
  opacity: 0.9;
}

footer {
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .boxLogin .login {
    width: 700px;
    height: 500px;
  }
}
@media screen and (min-width: 1024px) {
  .boxLogin {
    justify-content: start;
    margin-left: 5rem;
  }
  .boxLogin .login {
    width: 1000px;
    height: 525px;
  }
}
