@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: "Prompt", sans-serif;
}
.appContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

.appContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top right, #ef852fe4, #7735004c),
    url("../../assets/background-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: -1; 
}

.boxLogin {
  display: flex;
  justify-content: center;
  height: 700px;
}
.boxLogin .login {
  border-radius: 0.5rem;
  width: 400px;
  height: 655px;
  padding: 1rem;
  align-self: center;
  background-color: white;
  opacity: 0.9;
  transition: .3s ease-in-out;
}
.boxLogin .login:hover {
  transition: .3s ease-in-out;
  opacity: 1;
}
.forgetPass {
  align-self: flex-start;
  text-decoration: none;
  color: #ff7100;
  margin-bottom: 1rem;
  transition: .3s ease-in-out;
}
.forgetPass:hover{
  color: #a94d02;
  transition: .3s ease-in-out;
}
.btnLeft,
.btnRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnLeft {
  margin-bottom: 1rem;
}
.btnRight {
  gap: 1rem;
}
.btnSecondary {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding-top: 1rem;
  border-top: solid #d9d9d9;
}
footer {
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .boxLogin .login {
    width: 700px;
    height: 655px;
  }
}
@media screen and (min-width: 1024px) {
  .boxLogin .login {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 525px;
  }
  .boxLogin .login .form {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }
  .btnLeft {
    width: 50%;
    margin: 0 5rem 0 2rem;
  }
  .btnRight {
    border-left: 3px solid #ff7100;
    gap: 2rem;
    padding: 0.5rem 2rem 2rem 5rem;
    align-self: center;
    width: 50%;
  }
  .btnSecondary {
    padding-top: 2rem;
    gap: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .boxLogin {
    margin-left: 5rem;
    justify-content: start;
  }
}
@media screen and (min-width: 1920px) {
  .boxLogin {
    margin: 5rem 0 0 10rem;
  }
}