.password-container {
    display: block;
    margin-bottom: 16px;
}
.password-container label{
    color: #555;
    font-size: 16px;
}

.password-field-wrapper {
    position: relative;
}
  
.password-field {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
}
  
.toggle-password-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    background: none;
    border: none;
    cursor: pointer;
}
  