.topic {
  color: #595959;
}
.boxInfoAgency {
  width: 100%;
  height: fit-content;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  color: #333333;
}
.boxHistory {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
}
.studentTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  background-color: transparent;
}
.studentTable th {
  background-color: transparent;
  color: #333;
  padding: 12px;
  border-bottom: 2px solid #ddd;
  text-align: left;
}
.studentTable th:last-child {
  text-align: center;
}
.studentTable td {
  background-color: transparent;
  padding: 0.5rem;
  border-bottom: 2px solid #ddd;
}
.TdInfo{
  text-align: center;
}
.studentTable .btnInfo {
  cursor: pointer;
  border: 2px solid #5a6f8f;
  font-size: 14px;
  color: #5a6f8f;
  border-radius: 0.3rem;
  background-color: white;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: ease-in-out 0.3s;
}
.studentTable .btnInfo:hover {
  background-color: #5a6f8f;
  color: white;
}

