.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #ff7100cc;
  }
  .appContainer .boxIn {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-self: center;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    width: 400px;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    position: relative; 
    overflow: hidden; 
  }
  .appContainer .boxIn .arrowButton {
    display: flex;
    gap: 0.5rem;
    align-self: flex-end;
  }
  .topBar {
    height: 7px;
    display: flex;
    gap: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .inputForm{
    width: 100%;
  }
  .codeAllow{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .codeAllow p{
    font-size: 13px;
  }
  .codeAllow p:nth-child(1){
    color: #FF0000;
  }
  .codeAllow p:nth-child(2){
    font-weight: 600;
    cursor: pointer;
    color: #0059FF;
  }
  @media screen and (min-width: 768px) {
    .appContainer .boxIn {
      margin-top: -5rem;
    }
  }
  